* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fcfcfc;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background: #fff;
}

.navbar .Nav-menu {
    display: flex;
    align-items: center;
    gap: 250px;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

/* Banner */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./assets/hero-bg.png') center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-btns {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* Buttons & Hover Effects */
button {
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
}

.btn-primary {
    background: #469165;
    color: white;
}

.btn-primary:hover {
    background: #c1eb08;
    transform: translateY(-2px);
    color: red;
}

.btn-secondary {
    background-color: #022e57;
    color: #FFFFFF;
}

.btn-secondary:hover {
    background: #c1eb08;
    transform: translateY(-2px);
    color: red;
}


.banner .btn-third {
    background: #f4f4f4;
    color: #469165;
    margin-bottom: 16px;
    border-radius: 50px;
    padding: 8px 8px;
}


.btn-third:hover {
    background: #c1eb08;
    transform: translateY(-2px);
    color: red;
}

.banner h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;

}

.banner h1 span {
    color: #30B868;
}

.banner p {
    font-size: 16px;
    margin-top: 20px;
    color: #f0f0f0;
    line-height: 1.7;
}

/* Notes Cards Section */
.note-section {
    padding: 20px;
    text-align: center;
    align-items: center;
}

.note-section h2 {
    font-size: 2.5rem;
    margin-bottom: 16px;
    color: #001931;
}

.note-section p {
    font-size: 14px;
    color: #555;
    line-height: 20px;
    margin-bottom: 44px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.card {
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    margin: 24px 0;
}

.icon-box {
    width: 60px;
    height: 60px;
    background: #F95555;
    color: #4338ca;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 auto 20px;
}

.cards-container h3 {
    font-size: 18px;
    color: #001931;
    margin-bottom: 16px;
}

.cards-container p {
    font-size: 14px;
    color: #627382;
    line-height: 20px;
}

/* Second Brain Section */
.second-brain {
    display: flex;
    padding: 80px 8%;
    align-items: center;
    gap: 60px;
}

.image-side img {
    width: 100%;
    border-radius: 15px;
}

.content-side span {
    color: #469165;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.content-side h2 {
    font-size: 2.5rem;
    color: #001931;
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
}

.content-side p {
    font-size: 14px;
    color: #555;
    line-height: 24px;
    margin-bottom: 24px;
}

.feature-list {
    list-style: none;
    margin-top: 20px;
}

.feature-list li {
    margin-bottom: 10px;
    color: #001931;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    /* font-weight: 500; */
}

.feature-list i {
    color: #10b981;
    margin-right: 10px;
}